<h2 align="middle">Robotic Vision</h2>
<br>
<br>

<br>
<h3 align="middle">0. Setup sensor streams to receive readings for 3D position, 3D Euler angles, and a front disparity image. </h3>
<h3 align="middle">1. Process the disparity image with a median filter to remove noise. </h3>
<h3 align="middle">2. Warp the disparity image using a 3D-rototranslational model, to account for the quadrotor's elevation, pitch and roll. </h3>
<br>

<div align="middle">
  <table style="width=100%">
    <tr>
    <td>
      <img src="images/adjust1.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    <td>
      <img src="images/adjust2.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    </tr>
    <tr>
    <td>
      <img src="images/adjust3.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    <td>
      <img src="images/adjust4.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    </tr>
  </table>
</div>

<br>
<br>
<h3 align="middle">3. The disparity map rows are now parallel to the grid plane. Select only a small number of them, close to the intersection.</h3>

<h3 align="middle">4. Max pool vertically from the selected rows, in order to "collapse" them into a 1D array of depths.</h3>
<br>

<div align="middle">
  <table style="width=100%">
    <tr>
    <td>
      <img src="images/disparity.gif" class="thumbnail" align="middle" width="700px"/>
    </td>
    </tr>
  </table>
</div>

<br>
<br>
<h3 align="middle">5. Project the quadrotor's field of view on the grid plane, and use the 1D array of depths to localize any obstacles within it. </h3>
<h3 align="middle">6. Raytrace the quadrotor's field of view projection, to update the occupancy grid.</h3>
<br>



<div align="middle">
  <table style="width=100%">
    <tr>
    <td>
      <img src="images/map1.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    <td>
      <img src="images/map3.png" class="thumbnail" align="middle" width="400px"/>
    </td>
    </tr>
  </table>
</div>
<br>
<br>
<div align="middle">
  <table style="width=100%">
    <tr>
    <td>
      <img src="images/grid.gif" class="thumbnail" align="middle" width="700px"/>
    </td>
    </tr>
  </table>
</div>
<br>
<br>
<div align="middle">
  <table style="width=100%">
    <tr>
    <td>
      <img src="images/map2.png" class="thumbnail" align="middle" width="600px"/>
    </td>
    </tr>
  </table>
</div>

